{% extends "index.html" %}
{% block content %}

<div id="writings">
	<div class="item">
		<div class="title">
			<a href="/writing/uwonmind">Underwriting on the mind - May 28, 2013</a>
		</div>

		<div class="body">
			Musings on group benefits underwriting and apps.
		</div>
	</div>

	<hr>

	<div class="item">
		<div class="title">
			<a href="/writing/uwonmind">World Cup 2014 - Group F</a>
		</div>

		<div class="body">

			<p>
			I'm been considering different scenarios to see if Nigeria advances to the next stage of the world cup. World Cup countries start off in 8 groups of 4 teams. The top two teams from each group advance to a win-or-go-home tournament to determine the winner of the world cup.
			</p>

			<p>
			Points are awarded after each game played:
			<ul>
			  <li>Win = 3 points</li>
			  <li>Draw = 1 point</li>
			  <li>Lose = 0 points</li>
			</ul>

			The advancing teams are decided by the following rules <a href="http://www.uefa.com/MultimediaFiles/Download/competitions/Regulations/01/87/54/21/1875421_DOWNLOAD.pdf">(excerpted and paraphrased from here)</a>:
			<ul>
				<li>Points earned in all matches</li>
				<b>Ties determined by:</b>
				<li>Goal difference in all matches (goals scored minus goals scored against you)</li>
				<li>Goals scored in all matches</li>
				<li>Points obtained in group matches between tied teams</li>
				<li>Goal difference in group matches between tied teams</li>
				<li>Goals scored in group matches between tied teams</li>
				<li>Drawing by FIFA Organizing Committee</li>
			</ul>	

			</p>On June 22, 2014, Nigeria won a match (albeit controversially) against Bosnia-Herzegovina. Nigeria could make the tournament round of the World Cup for the first time since 1998. </p>


			<p> If you're a fan of group F team, <a href="/writing/2014WC-scenarios">click here</a> to play with advancement scenarios.
			</p>

			<p><b>Go Nigeria!</b></p>

			
			
		</div>
	</div>
</div>

<div id="fixtures">
	<div id="perm">Permanent Fixtures</div>
	<div class="entry"><span class="screw"></span><a href="/uwapp">Underwriting App</a></div>
</div>

{% endblock %}