<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Dike Kalu </title> 
    <link rel="stylesheet" href="static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono|Fredericka+the+Great' rel='stylesheet' type='text/css'>
</head>

<body>
	

	<div id="main">
		<h1>Dike E. Kalu</h1>
		<div class="main-item">
			<a href="http://blog.dikekalu.com">blog</a>
		</div>

		<div class="main-item">
			<a href="http://twitter.com/dikekalu">twitter</a>
		</div>

		<div class="main-item">
			<a href="http://github.com/dikee">github</a>
		</div>


	</div>









</body>

<style> 
    <!--
	body {background-color: #fafafa;}
	h1 {
		font-family: 'Fredericka the Great', cursive;
		font-size: 72px;
		font-style: bold;
		}

	#main {
		margin-left: 34%;
	}

	.main-item {
		font-family: 'Fredericka the Great', cursive;
		font-size: 33px;
		padding-bottom: 45px;
	}

	.main-item a {
		text-decoration: none;
		color: #000000;
	}
    -->
   </style>

</html>