<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Dike Kalu </title> 
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono|Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
	

	<div id="main">
		<div class="header">
			<a href="/" id="myname">Dike E. Kalu</span>
			<a class="main-item" href="http://twitter.com/dikekalu" target="_blank">.twitter</a>
			<a class="main-item" href="http://github.com/dikee" target="_blank">.github</a>
		</div><hr>

		<div id="content">
			{% block content %}{% endblock %}
		</div>




	</div>





<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/numeral.min.js"></script> -->
<!-- script type="text/javascript" src="/static/js/uw.js"></script> -->



<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!-- script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script> -->

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47236147-2', 'dikekalu.com');
  ga('send', 'pageview');

</script>
</html>